<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/assets/images/09-toi3757b-removebg-preview-128x107.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Exosky</title>
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/static/assets/icon54-v3/style.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/assets/parallax/jarallax.css">
  <link rel="stylesheet" href="/static/assets/popup-overlay-plugin/style.css">
    <link rel="stylesheet" href="/static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/static/assets/theme/css/style.css">
  <link rel="stylesheet" href="/static/assets/recaptcha.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Patua+One:400&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One:400&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Urbanist:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Urbanist:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css?v=Pgal1J"><link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css?v=Pgal1J" type="text/css">

  <link rel="stylesheet" href="/static/styles.css"> <!-- Optional CSS -->
    <style>
        .scrollable-list {
            max-height: 200px; /* Adjust height as needed */
            overflow-y: auto;  /* Enable vertical scrolling */
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .scrollable-list ul {
            list-style-type: none; /* Remove default list styling */
            padding: 0;           /* Remove padding */
            margin: 0;            /* Remove margin */
        }
        .planet-item {
            cursor: pointer;      /* Change cursor to pointer */
            padding: 5px;
            border-radius: 3px;
        }
        .planet-item:hover {
            background-color: #e0e0e0; /* Highlight on hover */
        }
        /* Spinner styles */
        .spinner {
            display: none; /* Hidden by default */
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: spin 1s linear infinite;
            margin-left: 10px; /* Space between button and spinner */
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu01 progressm5 cid-uqmTZ8IN2p" once="menu" id="menu01-1c">

    

    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="menu_box container-fluid">
            <div class="navbar-brand d-flex">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption display-7" href="https://beyondstars.space/"><span class="icon54-v3-planet-stars mbr-iconfont mbr-iconfont-btn"></span></a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link text-info text-primary display-4" href="index.html">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-info text-primary display-4" href="project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-info text-primary display-4" href="team">Team</a>
                    </li></ul>
                <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-secondary display-4" href="exosky">
                        Get started
                    </a></div>
                
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="header02 progressm5 cid-uqmTZ9iqGn mbr-fullscreen mbr-parallax-background" id="header02-1d">
	

	
	<div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="content-wrapper">
					<h1 class="mbr-section-title mbr-fonts-style display-1">Exosky</h1>
					<div class="desc-wrapper">
						<p class="mbr-desc mbr-fonts-style display-7">The stars as never seen</p>
					</div>
					<div class="text-wrapper">
						<p class="mbr-text mbr-fonts-style display-7">
							Which exoplanet would you like to visit today ?</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="header2 cid-uqoy3eKt05" id="aheader2-1p">

    

    
    

    <div class="align-center container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h1 class="mbr-section-title mbr-fonts-style align-center display-5"><strong>Our featured exoplanets list</strong></h1>
                

                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider1 mbr-embla cid-uqnhPTdxtO" id="slider1-1m">

    

    
    
    <div class="position-relative">
        
        <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-loop="true" data-auto-play="true" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">
                <div class="embla__container">
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="/static/assets/images/100-hd-222237-b-700x623.jpg" alt="" data-slide-to="0" data-bs-slide-to="0">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7"><strong>HD 222237 b</strong></h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    HD 222237 b is a gas giant exoplanet that orbits a K-type star. Its mass is 5.19 Jupiters, it takes 40.8 years to complete one orbit of its star, and is 10.8 AU from its star. Its discovery was announced in 2024.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="/static/assets/images/101-toi-1798-1-600x519.jpg" alt="" data-slide-to="1" data-bs-slide-to="1">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7">
                                    <strong>TOI-1798.01</strong>
                                </h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    TOI-1798.01 is a Neptune-like exoplanet that orbits a K-type star. Its mass is 6.5 Earths, it takes 8 days to complete one orbit of its star, and is 0.074 AU from its star. Its discovery was announced in 2024.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="/static/assets/images/102-kepler-85c-700x617.jpg" alt="" data-slide-to="2" data-bs-slide-to="2">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7">
                                    <strong>Kepler-85 e</strong></h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    Kepler-85 e is a super Earth exoplanet that orbits a G-type star. Its mass is 0.6 Earths, it takes 25.2 days to complete one orbit of its star, and is 0.163 AU from its star. Its discovery was announced in 2014.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="/static/assets/images/103-koi-55b-700x703.jpg" alt="" data-slide-to="3" data-bs-slide-to="3">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7">
                                    <strong>KOI-55 b</strong></h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    Kepler-70b (a.k.a. KOI-55) could well be another circle of hell with an average temperature hotter than the Sun’s surface. It used to be Jupiter-sized until it spent some time inside its now-dead star…a trip that destroys most planets,</p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="/static/assets/images/104-kepler-1558b-750x641.jpg" alt="" data-slide-to="4" data-bs-slide-to="4">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7">
                                    <strong>Kepler-1558 b</strong></h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    Kepler-1558 b is a terrestrial exoplanet that orbits a K-type star. Its mass is 0.244 Earths, it takes 3.5 days to complete one orbit of its star, and is 0.0419 AU from its star. Its discovery was announced in 2016.
                                </p>
                            </div>
                        </div>
                    </div><div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="/static/assets/images/105-kmt-2019-blg-0297l-b-750x705.jpg" alt="" data-slide-to="5" data-bs-slide-to="5">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7"><strong>KMT-2019-BLG-0297L b</strong></h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    KMT-2019-BLG-0297L b is a gas giant exoplanet that orbits an unknown-type star. Its mass is 19 Jupiters, it takes 2.1 years to complete one orbit of its star, and is 0.96 AU from its star. Its discovery was announced in 2023.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="header2 cid-uqoyp64Q4l" id="aheader2-1q">

    

    
    

    <div class="align-center container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h1 class="mbr-section-title mbr-fonts-style align-center display-5">
                    <strong>
                        Other exoplanets</strong></h1>
                

                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form1 cid-uqoKWnEQtS" id="form1-1w">

    

    
    <div class="container">
        
        <div class="row justify-content-center">
<div class="mbr-section-btn-main"><button class="btn btn-secondary display-4" id="fetch-exoplanet">Load all available exoplanets from NASA</button></div>
    <div class="spinner" id="loading-spinner"></div> <!-- Spinner div -->
    
    <div id="response"></div>
    <div class="scrollable-list">
        <ul id="exoplanet-data"></ul>
    </div>
    <div id="selected-planet" style="margin-top: 10px; font-weight: bold;"></div> <!-- Selected planet display -->
    <h3>Show Planet Cartesian Coordinates</h3>
    <form id="cartesian-form">
        <input type="number" id="sy_dist" step="any"  placeholder="sy_dist (parsecs)" required>
        <input type="number" id="ra" step="any" placeholder="Right Ascension (degrees)" required>
        <input type="number" id="dec" step="any" placeholder="Declination (degrees)" required>
        <!-- <button type="submit">Calculate</button> -->
    </form>
    <div id="cartesian-coords" style="margin-top: 10px; font-weight: bold;"></div> <!-- Display Cartesian coordinates -->
    <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-secondary display-4" href="starchart">
        Create Star Chart for 5 nearest stars to the planet
    </a>
    </div>
    <button class="btn btn-secondary display-4" id="fetch-positions">Get 10 Nearest stars from the Planet ordered by brightness</button>
    <div id="response2"></div>
    <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-secondary display-4" href="/threed">
        Planetview
    </a></div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer01 progressm5 cid-uqmTZ9Hwh2" once="footers" id="footer01-1e">
    

    <div class="container">
        <div class="row">
            <div class="col-12">
               
            </div>
            <div class="col-12">
                
            </div>
        </div>
        <div class="row items-wrapper">
            
            
            
        </div>
        <div class="row">
            <div class="col-12">
                
                <p class="mbr-copy mbr-fonts-style display-4">
                    © Copyright 2024 Beyond Stars</p>
            </div>
        </div>
    </div>
</section>

<script>
    let selectedPlanetData = {}; // Store selected planet data

    document.getElementById('fetch-exoplanet').addEventListener('click', function() {
        const spinner = document.getElementById('loading-spinner');
        spinner.style.display = 'inline-block'; // Show the spinner

        fetch('/api/exoplanet')
            .then(response => response.json())
            .then(data => {
                const exoplanetList = document.getElementById('exoplanet-data');
                exoplanetList.innerHTML = ''; // Clear previous results
                data.forEach(planet => {
                    const listItem = document.createElement('li');
                    listItem.className = 'planet-item';
                    listItem.innerText = planet.pl_name; // Display the planet name
                    listItem.onclick = function() {
                        document.getElementById('selected-planet').innerText = `Selected Planet: ${planet.pl_name}`;
                        // Store selected planet data
                        selectedPlanetData = {
                            sy_dist: planet.sy_dist, // Assuming these properties exist
                            ra: planet.ra,
                            dec: planet.dec
                        };
                        // Populate input fields
                        document.getElementById('sy_dist').value = selectedPlanetData.sy_dist;
                        document.getElementById('ra').value = selectedPlanetData.ra;
                        document.getElementById('dec').value = selectedPlanetData.dec;
                    };
                    exoplanetList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error:', error))
            .finally(() => {
                spinner.style.display = 'none'; // Hide the spinner
            });
    });

    document.getElementById('cartesian-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const { sy_dist, ra, dec } = selectedPlanetData;
        const distance = sy_dist

        fetch('/api/cartesian', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ distance, ra, dec })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('cartesian-coords').innerText = `Cartesian Coordinates: X: ${data.x}, Y: ${data.y}, Z: ${data.z}`;
        })
        .catch(error => console.error('Error:', error));
    });

    document.getElementById('fetch-positions').addEventListener('click', function() {
        event.preventDefault();
        const { sy_dist, ra, dec } = selectedPlanetData;

        fetch('/api/position', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ ra, dec })
         })
        .then(response => response.json())
        .then(data => {
            document.getElementById('response2').textContent = `Position: ${JSON.stringify(data)}`;
        })
        .catch(error => {
            console.error('Error:', error)
            document.getElementById('response2').textContent = 'Error: ' + error.message;
        })
        .finally(() => {
            spinner.style.display = 'none'; // Hide the spinner
        });
    });

</script>


<script src="/static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/parallax/jarallax.js"></script>
  <script src="/static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/assets/ytplayer/index.js"></script>
      <script src="/static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/static/assets/embla/embla.min.js"></script>
  <script src="/static/assets/embla/script.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  <script src="/static/assets/formoid.min.js"></script>
  
  
  
</body>
</html>