<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/assets/images/09-toi3757b-removebg-preview-128x107.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Project</title>
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/static/assets/icon54-v3/style.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/assets/parallax/jarallax.css">
  <link rel="stylesheet" href="/static/assets/popup-overlay-plugin/style.css">
    <link rel="stylesheet" href="/static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/static/assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Patua+One:400&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One:400&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Urbanist:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Urbanist:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css?v=BImHZn"><link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css?v=BImHZn" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu01 progressm5 cid-uq0nmMRDQR" once="menu" id="menu01-0">

    

    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="menu_box container-fluid">
            <div class="navbar-brand d-flex">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption display-7" href="https://beyondstars.space/"><span class="icon54-v3-planet-stars mbr-iconfont mbr-iconfont-btn"></span></a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link text-info text-primary display-4" href="index.html">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-info text-primary display-4" href="project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-info text-primary display-4" href="team">Team</a>
                    </li></ul>
                <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-secondary display-4" href="exosky">
                        Get started
                    </a></div>
                
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="header02 progressm5 cid-uq0Yy1dX7T mbr-fullscreen mbr-parallax-background" id="header02-x">
	

	
	<div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(6, 6, 6);"></div>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="content-wrapper">
					<h1 class="mbr-section-title mbr-fonts-style display-1">Beyond Stars</h1>
					<div class="desc-wrapper">
						<p class="mbr-desc mbr-fonts-style display-7">Explore the Cosmos<br></p>
					</div>
					<div class="text-wrapper">
						<p class="mbr-text mbr-fonts-style display-7">
							See the night sky from the perspective of an exoplanet and uncover the wonders of the Universe</p>
					</div>
					<div class="mbr-section-btn"><a class="btn btn-danger display-4" href="exosky">
							<span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>
							Exosky</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="slider4 mbr-embla cid-uqmJUz0DLz" id="slider04-11">
    
    
    <div class="container-fluid">
        <div class="row mb-5 justify-content-center">
            <div class="col-12 content-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5"><strong>Explore the sky as seen from different planets</strong></h3>
                <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">What would the night sky look like if you were standing on one of the many exoplanets discovered by astronomers and space missions?&nbsp;</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="embla position-relative" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-loop="true" data-auto-play="true" data-auto-play-interval="9" data-draggable="true">
                    <div class="embla__viewport">
                        <div class="embla__container">
                            
                            
                            
                            
                            
                            
                            <div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                            <div class="slide-content">
                                <div class="item-img">
                                    <div class="item-wrapper">
                                        <img src="/static/assets/images/11-wasp96b-792x651.jpg" alt="" title="" data-slide-to="1" data-bs-slide-to="1">
                                    </div>
                                </div>
                            </div>
                            </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                            <div class="slide-content">
                                <div class="item-img">
                                    <div class="item-wrapper">
                                        <img src="/static/assets/images/10-gj504b-920x746.jpg" alt="" title="" data-slide-to="2" data-bs-slide-to="2">
                                    </div>
                                </div>
                            </div>
                            </div><div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                            <div class="slide-content">
                                <div class="item-img">
                                    <div class="item-wrapper">
                                        <img src="/static/assets/images/02-kepler22b-1044x792.jpg" alt="" title="" data-slide-to="2" data-bs-slide-to="3">
                                    </div>
                                </div>
                            </div>
                            </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                            <div class="slide-content">
                                <div class="item-img">
                                    <div class="item-wrapper">
                                        <img src="/static/assets/images/06-gj15ac-997x754.jpg" alt="" title="" data-slide-to="3" data-bs-slide-to="6">
                                    </div>
                                </div>
                            </div>
                            </div><div class="embla__slide slider-image item active" style="margin-left: 1rem; margin-right: 1rem;">
                            <div class="slide-content">
                                <div class="item-img">
                                    <div class="item-wrapper">
                                        <img src="/static/assets/images/05-gj15ab-820x747.jpg" alt="" title="" data-slide-to="4" data-bs-slide-to="4">
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <button class="embla__button embla__button--prev">
                        <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden visually-hidden">Previous</span>
                    </button>
                    <button class="embla__button embla__button--next">
                        <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="info3 cid-uqn9ExdOz1" id="info03-1l">

    
    


    
    <div class="container">
        <div class="row justify-content-center">


            <div class="card col-12 col-md-12 col-lg-7">
                <div class="card-wrapper">
                    <div class="card-box align-center">


                        <h4 class="card-title align-center mbr-semibold pb-3 mbr-black mbr-fonts-style display-5">
                            <strong>About the project</strong></h4>
                        <p class="mbr-text pb-3 mbr-semibold mbr-black mbr-fonts-style display-7">Beyond Star is an app or interface that allows you to choose an exoplanet and then either display an interactive star chart and export a high-quality image for printing or viewing on a computer or virtual reality display, where they can draw and name constellations.
<br>
<br>What would the night sky look like if you were standing on one of the many exoplanets discovered by astronomers and space missions? The list of 5500+ exoplanets at the NASA Exoplanet Archive can be combined with the latest star catalogs to translate the location and brightness of millions or even billions of stars to another perspective. From that perspective, anyone could use their imagination to draw constellations, much like our ancestors did on Earth thousands of years ago.</p>


                        


                    </div>

                </div>
            </div>



        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer01 progressm5 cid-uq0nmXdKjk" once="footers" id="footer01-c">
    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
               
            </div>
            <div class="col-12">
                
            </div>
        </div>
        <div class="row items-wrapper">
            
            
            
        </div>
        <div class="row">
            <div class="col-12">
                
                <p class="mbr-copy mbr-fonts-style display-4">
                    © Copyright 2024 Beyond Stars</p>
            </div>
        </div>
    </div>
</section>


<script src="/static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/parallax/jarallax.js"></script>
  <script src="/static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/assets/ytplayer/index.js"></script>
      <script src="/static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/static/assets/embla/embla.min.js"></script>
  <script src="/static/assets/embla/script.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  
  
  
</body>
</html>