<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/09-toi3757b-removebg-preview-128x107.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Team</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/icon54-v3/style.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/parallax/jarallax.css">
  <link rel="stylesheet" href="assets/popup-overlay-plugin/style.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Patua+One:400&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One:400&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Urbanist:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Urbanist:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=Kl7yly"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=Kl7yly" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu01 progressm5 cid-uq0w58SHh2" once="menu" id="menu01-d">

    

    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="menu_box container-fluid">
            <div class="navbar-brand d-flex">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption display-7" href="https://beyondstars.space/"><span class="icon54-v3-planet-stars mbr-iconfont mbr-iconfont-btn"></span></a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link text-info text-primary display-4" href="index.html">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-info text-primary display-4" href="project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-info text-primary display-4" href="team">Team</a>
                    </li></ul>
                <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-secondary display-4" href="exosky">
                        Get started
                    </a></div>
                
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="header02 progressm5 cid-uq0w5a9h10 mbr-fullscreen mbr-parallax-background" id="header02-e">
	

	
	<div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(6, 6, 6);"></div>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="content-wrapper">
					<h1 class="mbr-section-title mbr-fonts-style display-1">
						Beyond Stars</h1>
					<div class="desc-wrapper">
						
					</div>
					<div class="text-wrapper">
						
					</div>
					<div class="mbr-section-btn"><a class="btn btn-secondary display-4" href="team.html#team01-q">
							<span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>The Team</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="team1 cid-uq0xBhbklI" id="team01-q">
    
    


    
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/mbr-816x545.jpg" alt="">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Kargi Chauhan</strong></h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Info Here</strong></h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            Description here
                        </p>
                        
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-danger display-4" href="mailto:kargi@beyondstars.space">kargi@beyondstars.space</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/mbr-816x545.jpg" alt="">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5"><strong>Amanda Guan</strong></h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Info Here</strong></h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            Description here
                        </p>
                        
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-danger display-4" href="mailto:amanda@beyondstars.space">amanda@beyondstars.space</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/mbr-816x545.jpg" alt="">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Athira Prakash</strong></h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Info Here</strong></h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            Description here</p>
                        
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-danger display-4" href="mailto:athira@beyondstars.space">athira@beyondstars.space</a></div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="team1 cid-uq0yk781Pf" id="team01-r">
    
    


    
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/mbr-816x545.jpg" alt="">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Meera</strong></h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Info Here</strong></h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            Description here
                        </p>
                        
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-danger display-4" href="mailto:meera@beyondstars.space">meera@beyondstars.space</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/mbr-816x545.jpg" alt="">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5"><strong>Darpan Goyal</strong></h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4"><strong>Info Here</strong></h6>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            Description here</p>
                        
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-danger display-4" href="mailto:darpan@beyondstars.space">darpan@beyondstars.space</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/portrait-photography-474x632.png" alt="">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Carlos Mack</strong></h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4"><strong>Design Engineer</strong></h6>
                        <p class="card-text mbr-fonts-style align-center display-7">Skilled aeronautical engineer with over a decade of experience in automotive design, specializing in plastic and sheet metal parts.</p>
                        
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-danger display-4" href="mailto:engineer@carlosmack.com">engineer@carlosmack.com</a></div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer01 progressm5 cid-uq0w5ihWXZ" once="footers" id="footer01-p">
    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
               
            </div>
            <div class="col-12">
                
            </div>
        </div>
        <div class="row items-wrapper">
            
            
            
        </div>
        <div class="row">
            <div class="col-12">
                
                <p class="mbr-copy mbr-fonts-style display-4">
                    © Copyright 2024 Beyond Stars</p>
            </div>
        </div>
    </div>
</section>


<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/parallax/jarallax.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
      <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
  
</body>
</html>